.containerPrincipal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 232, 232);

}

.containerPrincipal h4{
  padding: 20px;
  margin-top: -1em;
}

.containerSecundary{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: row;

}

.containerLeftRight{
  display: flex;
  flex-direction: row;
  margin-top: 15em;

}

.columnLeft {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(204, 199, 199, 0);
  margin-top: -15em;
  height: 100%;
}



.profile1{
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(209, 209, 209);
  padding: 20px;
  border-radius: 20px;
  width: 55em;
}

.profile2{
  margin-top: 2em;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 20px;
  width: 55em;
  padding: 35px;

}

.profile3{
  margin-top: 2em;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 20px;
  width: 55em;
  padding: 35px;
  
}

.profilep{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1em;
  
}

.profilep1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profilep2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5em;
}

.profile2 p{
  font-size: 14px;
}

.profile3 p{
  font-size: 14px;
}

.profileson{
  margin-left: 2em;
}

.profileson p{
  font-size: 14px;
}

.profile1 img{
  border-radius: 50px;
  object-fit: cover;
  border: 1px solid rgb(8, 147, 240);
}

.columnLeft button{
  margin: 5px;
}

input {
  color: #0d0d0d;
  font-size: 1.2rem;
  
}


.infoProfile{
  padding: 20px;
  margin-left: 2em;
  margin-top: -2em;
}

.infoProfileContainer{
  margin-top: -15em;
}

.infoProfile h5{
  margin-bottom: 2em;
  font-size: 1.2em;
}

.containerEditProfile{
  border: 1px solid rgb(209, 209, 209);
  width: 55em;
  padding: 20px;
  border-radius: 20px;
  margin-left: 3em;

}

.containerService{
  border-bottom: 1px solid rgb(209, 209, 209);
  width: 55em;
  height: 10em;
  padding: 20px;
  margin-left: 3em;
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  align-items: center;
  justify-content: flex-start;
}

.containerService img{
  object-fit: cover;
  width: 10em;
  height: 10em;
  margin-bottom: 2em;

}
.containerService div{
  width: 20em;
  margin-left: 4em;
  margin-top: -4em;
  
}
.descriptionService{
  width: 15em;
}

.containerOrder{
  border: 1px solid rgb(209, 209, 209);
  width: 55em;
  padding: 20px;
  border-radius: 20px;
  margin-left: 3em;
}

.title{
  margin-left: 2.5em;
  padding: 10px;
  margin-top: -1.5em;
  margin-bottom: 0.8em;
  font-size: 1.1em;
  padding-top: 1em;
}

.columnLeft input {
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #0505053a;
  background-color: rgba(255, 235, 205, 0);
}

.columnLeft{
  width: 12em;
}

