.containerPrincipal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 232, 232);

}

.containerPrincipal h4{
  padding: 20px;
  margin-top: -1em;
}

.containerSecundary{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: row;


}

.containerLeftRight{
  display: flex;
  flex-direction: row;
  margin-top: 15em;

}

.columnLeft {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(204, 199, 199, 0);
  margin-top: -15em;
  height: 100%;
}



.profile1{
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(209, 209, 209);
  padding: 20px;
  border-radius: 20px;
  width: 55em;
  background-color: white;
  color: black;
}

.profile2{
  margin-top: 2em;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 20px;
  width: 55em;
  padding: 35px;
  background-color: white;
  color: black;

}

.profile3{
  margin-top: 2em;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 20px;
  width: 55em;
  padding: 35px;
  background-color: white;
  color: rgb(0, 0, 0);
  
}

.profilep{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1em;
  
}

.profilep1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fatherSubtitle1{
  margin-bottom: 2em;
}

.profilep2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5em;
}

.profile2 p{
  font-size: 14px;
}

.profile3 p{
  font-size: 14px;
}

.profileson{
  margin-left: 2em;
}

.profileson p{
  font-size: 14px;
}

.profile1 img{
  border-radius: 60px;
  object-fit: cover;
  border: 1px solid rgb(8, 147, 240);
  width: 7em;
  height: 7em;
}

.columnLeft button{
  margin: 5px;
}

input {
  color: #0d0d0d;
  font-size: 1.2rem;
}

.strong1{
  color: rgb(8, 147, 240);
}
.infoProfile{
  padding: 20px;
  margin-left: 2em;
  margin-top: -2em;
}

.infoProfileContainer{
  margin-top: -15em;
}

.infoProfile h5{
  margin-bottom: 2em;
  font-size: 1.2em;
}

.inputControl{
  width: 13em;
}

.inputControl1{
  width: 13em;
  margin-right: 0.7em;
}

.containerEditProfile{
  border: 1px solid rgb(209, 209, 209);
  width: 55em;
  padding: 20px;
  border-radius: 20px;
  margin-left: 3em;
  margin-bottom: 2em;

}

.imageProfile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding: 10px;
}
.imageProfileCity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.imageProfileCity p{
  padding-top: 1em;
  margin-left: 0.9em;
}

.inputImage img{
  border-radius: 60px;
  width: 7em;
  height: 7em;
  object-fit: cover;
}

.titlesOrder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputImage{
  display: flex;
  flex-direction: column;
  width: 15em;
  align-items: center;
}

.inputImage input{
  transform: scale(0.5);
}

.buttonLeft{
  background-color: white;
  border: none;
  color: rgb(97, 97, 97);
  border-radius: 20px;
  padding: 10px;
  width: 8em;
  font-weight: bold;
  
}
.buttonLeft:hover{
  background-color: rgba(117, 181, 224, 0.2);
}
.buttonLeft:focus {
  background-color: rgba(117, 181, 224, 0.2);
  color: rgb(48, 91, 156);
}

.subtitle{
  background-color: rgb(48, 91, 156);
  height: 3.5em;
  width: 55em;
  margin-left: -1.3em;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -1.3em;
  padding: 12px;
}
.subtitle p{
  margin-left: 1em;
  color: white;
}

.subtitle1 {
    font-size: 18px;
}

.newInfo{
  border: 1px solid rgb(209, 209, 209);
  width: 55em;
  padding: 20px;
  border-radius: 20px;
  margin-left: 3em;
}

.containerService{
  border-bottom: 1px solid rgb(209, 209, 209);
  width: 55em;
  height: 10em;
  padding: 20px;
  margin-left: 3em;
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2em;
}

.containerService img{
  object-fit: cover;
  width: 10em;
  height: 10em;
  margin-bottom: 2em;

}
.containerService div{
  width: 20em;
  margin-left: 4em;
  margin-top: -4em;
  
}
.descriptionService{
  width: 15em;
}

.containerOrder{
  border: 1px solid rgb(209, 209, 209);
  width: 55em;
  padding: 20px;
  margin-left: 3em;
  border-radius: 20px;
  height: fit-content;
}

.containerNone{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55em;
  align-items: center;
}

.containerNone img{
  width: 7em;
  height: 7em;
  margin-bottom: 1em;
}

.myButton1:hover{
  background-color: rgb(8, 147, 240);
}

.containerNone img.imgBuy{
  width: 12em;
  height: 8em;
}
.orderServices{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid rgb(209, 209, 209);
}

.orderServices img{
  width: 2em;
  height: 2em;
}

.typeServiceorder{
  position: absolute;
  right: 45%;
}

.payOrder{
  position: absolute;
  right: 30%;
}

.title{
  margin-left: 2.5em;
  padding: 10px;
  margin-top: -1.5em;
  margin-bottom: 0.8em;
  font-size: 1.1em;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
}

.title1{
  margin-left: 2.5em;
  padding: 10px;
  margin-top: -0.5em;
  font-size: 1.1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}
.titlep{
  margin-top: -1em;
  font-size: 15px;
}

.myButton{
  margin-left: 48em;
}

.myButton:hover{
  background-color: rgb(48, 91, 156);
}


.arrow{
  cursor: pointer;
  color: rgb(8, 147, 240);
  font-size: 20px;
  position: absolute;
  right: 33%;
}

.columnLeft input {
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #0505053a;
  background-color: rgba(255, 235, 205, 0);
}

.columnLeft{
  width: 12em;
  border-right: 1px solid rgb(209, 209, 209);
  height: 110%;
}


@media (max-width: 391px) {
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .containerSecundary{
    flex-direction: column;
    width: 22.6em;
    /* margin-left: -2em; */

  }
  .containerPrincipal{
    align-items: center;
  }
  .columnLeft{
    flex-direction: row;
    margin-left: -2em;
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    width: fit-content;
    position: relative;
  }
  .buttonLeft{
    width: fit-content;
    height: 4em;
    font-size: 12.5px;
  }



  .subtitle1{
    font-size: 16px;
    margin-top: -8em;
    margin-left: -4em;
  }

  .title1{
    font-size: 16px;
    margin-top: -8em;
    margin-left: -2em;
  }
  .titlep{
    font-size: 12px;

  }

  .titleFather{
    margin-left: -4em;
    text-align: justify;
    width: 15em;
  }

  .profile1{
    transform: scale(0.65);
    margin-left: -10em;
    width: 30em;

  }

  .profile2{
    transform: scale(0.65);
    margin-left: -10em;
    width: 30em;
    margin-top: -2em;
    
  
  }

  .profile3{
      transform: scale(0.65);
      margin-left: -10em;
      width: 30em;
      margin-top: -2em;

    
  }

  .containerEditProfile{
    transform: scale(0.4);
    margin-left: -7em;
    margin-top: -10em;
    width: fit-content;
    border: none;

  }

  .newInfo{
    transform: scale(0.4);
    margin-left: -7em;
    margin-top: -10em;
    border: none;
  }
  .imageProfile{
    width: 50em;
  }
  .imageProfile p{
    font-size: 1.7em;
  }

  .imageProfileCity p{
    font-size: 1.7em;

  }
  .imageProfileCity{
    width: 50em;
  }

  .subtitle p{
    font-size: 1.7em;
  
  }

  .arrow{
    font-size: 25px;
    left: 192%;
  
  }

  .containerService{
    transform: scale(0.5);
    margin-left: -14em;
    width: 45em;
    
  }
  .containerService p{
    font-size: 1.5em;
    width: 10em;
  
  }
  .containerService img{
    border-radius: 40px;
    border: 2px solid rgb(8, 147, 240);
  }

  .containerOrder{
    transform: scale(0.4);
    margin-left: -11em;
    width: 30em;
    border: none;
    margin-top: -3em;
  }

  .containerNone{
    transform: scale(0.7);
    margin-left: -14em;
    width: 45em;
    margin-top: -3em;
  }

  .infoProfileContainer{
    margin-left: -16em;
    margin-top: -0.5em;
  }

  .orderServices{
    width: 50em;
    justify-content: space-between;
  }

  .orderServices p{
    font-size: 1.8em;
  }

  .typeServiceorder{
    right: 12%;

  }

  .payOrder{
    left: 120%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}