.filterBarContainer {
  padding: 5px;
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #ebeff8;
}

.carouselContainer {
  display: flex;
  width: 200%;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 50em;
}
.buttonArrowContainer {
  display: flex;
  align-items: center;
  min-width: 4em;
}

.itemContainer {
  height: 5em;
  display: flex;
  min-width: 45em;
  justify-content: flex-start;
}

.buttonItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  /* padding: 2.5px; */
  cursor: pointer;
  outline: none;
  margin: auto 15px;
  border-bottom: 1.5px solid transparent;
  background-color: transparent;
  transition: all 0.6s;
  font-size: 13px;
}
.buttonItem:hover {
  border-bottom-color: var(--blueLight);
}
.selected {
  border-bottom-color: var(--blue);
}
.buttonItem button {
  background-color: transparent;
  transition: 0.2s;
  font-weight: 600;
}

.buttonItem button:hover {
  background-color: transparent;
}

.buttonArrow {
  width: 40px;
  height: 40px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #acacac;
  border-radius: 50%;
  background-color: transparent;
  padding: auto auto;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  color: #0d5890;
  transition: 0.4s;
}

.buttonArrow:hover {
  background-color: transparent;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.filterButtonsContainer {
  width: 20%;
  display: flex;
  justify-content: center;
}

.filterPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.filterContent {
  position: relative;
  max-width: 600px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.selectLabel {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.select {
  height: 32px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  margin-top: auto;
  margin-bottom: auto;
}

.filterButton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 4px;
  margin: 8px;
  color: #02026e;
}

.filterButton:hover {
  /* transform: translateY(-5px); */
  font-size: 22px;
}

.closeButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #888;
}

.btnFilter {
  font-size: 13px;
  width: auto;
  height: 32px;
  border-radius: 8px;
  padding: 7px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.3s;
}
.btnFilter:hover {
  background-color: #f8f7f7;
}
.btn:hover {
  color: white;
}
