.filterBarContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4);
}

.carouselContainer {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

/* .carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  z-index: 2;
  margin-left: 5px;
  margin-right: 5px;
}

.carouselButton:first-child {
  left: 300px;
}

.carouselButton:last-child {
  right: 300px;
} */

.itemContainer {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px;
  margin-left: 30px;
}

.buttonItem {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  color: #0D5890;
}

.buttonItem.selected {
  border-bottom-color: #1CB5E0;
  color: #0D6EFD;
}

.buttonItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonItem span {
  font-size: 10px;
}

.buttonIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.buttonIcon:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 20px;
  height: 25px;
  margin-bottom: 4px;
}

.filterButtonsContainer {
  width: 30%;
  display: flex;

  justify-content: center;
}

.filterPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.filterContent {
  position: relative;
  max-width: 400px;
  background-color: #838282;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectContainer {
  display: flex;
  align-items: center;
}

.selectLabel {
  margin-right: 10px;
  font-weight: bold;
}

.select {
  height: 40px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.filterButton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 4px;
  margin: 8px;
}

.filterButton:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.closeButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}