.filterBarContainer {
  width: 99vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  overflow-y: hidden;
}

.carouselContainer {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.buttonArrowContainer {
  display: flex;
  align-items: center;
}

.itemContainer {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px;
  margin-left: 30px;
}

.buttonItem {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  color: #0d5890;
}

.buttonArrow {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  color: #0d5890;
  margin-left: 30px;
}

.selected {
  border-bottom-color: #1cb5e0;
  color: #0d6efd;
}

.buttonItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonItem span {
  font-size: 10px;
}

.filterButtonsContainer {
  width: 20%;
  display: flex;
  justify-content: center;
}

.filterPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.filterContent {
  position: relative;
  max-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderContainer {
  display: contents;
  align-items: center;
}

.selectContainer {
  display: flex;
  align-items: center;
}

.selectLabel {
  margin-right: 10px;
  font-weight: bold;
}

.select {
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.filterButton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 4px;
  margin: 8px;
}

.filterButton:hover {
  transform: translateY(-5px);
}

.closeButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #888;
}

/* .filterBarContainer {
  width: 99vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  overflow-y: hidden;
}

.carouselContainer {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.carouselButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  z-index: 2;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  color: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.carouselButtonLeft {
  left: 0;
}

.carouselButtonRight {
  right: 0;
}

.carouselButton.hidden {
  opacity: 0;
}
.carouselContainer:hover .carouselButton {
  opacity: 1;
}

.carouselButton:first-child {
  left: 300px;
}

.carouselButton:last-child {
  right: 300px;
}

.itemContainer {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px;
  margin-left: 30px;
}

.buttonItem.all {
  margin-left: 0;
}

.buttonItem {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  color: #0d5890;
}

.hidden {
  display: none;
}

.buttonItem.selected {
  border-bottom-color: #1cb5e0;
  color: #0d6efd;
}

.buttonItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonItem span {
  font-size: 10px;
}

.buttonIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.buttonIcon:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 20px;
  height: 25px;
  margin-bottom: 4px;
}

.filterButtonsContainer {
  width: 30%;
  display: flex;
  justify-content: center;
}

.filterPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.filterContent {
  position: relative;
  max-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectContainer {
  display: flex;
  align-items: center;
}

.selectLabel {
  margin-right: 10px;
  font-weight: bold;
}

.select {
  height: 40px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.filterButton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 4px;
  margin: 8px;
}

.filterButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

 .closeButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #888;
}  */
