.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.containerService {
  width: 100%;
  min-height: 100%;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  border-bottom: 1px solid #242424;
}
.totalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.pasarela {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 3em 0em;
}
