.card {
  width: 19em;
  height: 28.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  text-decoration: none;
  box-shadow: 0 8px 16px 8px rgba(0, 0, 70, 0.1);
  /* background: rgb(28, 181, 224, .7); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 8px rgba(0, 0, 70, 0.3);

  transform: translateY(-2px);
  /* background-color: #1CB5E0; */
}

.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 4/3;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background-color: #000046;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Noto Sans", sans-serif;
  text-shadow: 0 0 2px black;
}

.btn:hover {
  background-color: white;
  border: 1px solid #000046;
  color: #000046;
}

.buttons {
  margin-top: -5.5em;
  padding-bottom: 10px;
}
.buttons button {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  border: none;
}

.addService {
  background: rgb(28, 181, 224);
  margin-top: 40px;
  margin-right: 10px;
}

.addService:hover {
  color: white;
}

.info {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  height: 12em;
}

.pRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pRating p h5 {
  margin-top: -0.5px;
  color: #000046;
}

.pRating div {
  margin-top: -0.5px;
  color: #000046;
  font-weight: 600;
}

.info p {
  text-align: inherit;
  width: 100%;
  padding: 0px 11px;
  font-weight: 600;
  margin: 0;
  margin-left: 5px;
  text-shadow: 0 0 1px #252525;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
  color: #000046;
}

.info p span {
  font-weight: normal;
}
