.fondo{
    background-image: url(img/img-4.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

.logo{
    padding: 10px;
    
}

.gray {
    color: rgb(255, 255, 255);
  }
  
.white {
    color: rgba(3, 2, 2, 0.679);
  }
.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  background-color: rgba(230, 230, 230, 0.221);
 
}
#contenedor-principal{
  margin-top: 20vh;
  text-decoration: none;
}