.search{
    display: flex;
    align-items: center;
}

.inputGroupText{
    border-radius: 5.375rem;
}

.location{
    background: transparent;
    border: none;
}

.linkLocation{
    text-decoration: none;
}

.inputSearch{
    width: 200px;
}