.search {
    display: flex;
    align-items: center;
    width: 100%;
}

.inputGroupText {
    border-radius: 5.375rem;
}

.location {
    background: transparent;
    border: none;
}

.linkLocation {
    text-decoration: none;
}

.inputSearch {
    width: 70%;
    height: 57px;
    border-radius: 20px;
    border: none;
}
.inputSearch::placeholder {
  border: none;
}