.container {
    position: static;
    top: 0;
    width: 100%;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 30%;
    height: 30%;
}

h1 {
    font-size: 50px;
    color: black;
}

.search {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.links {
    display: flex;
    gap: 40px;
    /* background-color: #009903; */
    position: absolute;
    top: -700px;
    left: -2000px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all .5s ease;
}

.link {

    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: white;
    /* margin-right: 1rem; */
    text-decoration: none;
}

.link:hover {
    color: white;
    font-weight: 600;
    
}

.active {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    color: white;
    text-decoration: underline;
    font-weight: 600;
    /* border: .5px solid #DEE2E6; */
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.show {
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
}

/* ###############  navIcon ##########################*/
.navIcon {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.navIcon span {
    background-color: black;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 200ms
}

.navIcon span:nth-child(1) {
    top: 0px;
    left: 0px;
}

.navIcon span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
}

.navIcon span:nth-child(3) {
    bottom: 0px;
    left: 0px;
}

.navIcon:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
    background-color: #0D6EFD;
}

.navIcon:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
    background-color: #0D6EFD;
}

.navIcon:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
    background-color: #0D6EFD;
}

.navIcon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}

.navIcon.open span:nth-child(2) {
    opacity: 0;
}

.navIcon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}


@media(max-width: 1024px) {
    .link {
        margin: 15px 0;
    }
}

@media(min-width: 1024px) {
    .links {
        position: initial;
    }

    .btnBurguer {
        display: none;
    }


}