footer {
    background-color: #101010;
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-links a {
    margin-right: 10px;
    color: #777;
    text-decoration: none;

  }
  
  .footer-contact {
    margin-top: 20px;
    color: #777;
  }
  
  .footer-bottom {
    margin-top: 20px;
    color: #777;
    font-size: 12px;
    text-align: center;
  }
  .footer-links a:hover {
    color: #fe2054; /* Cambiamos el color al pasar el mouse */
  }

  