.container {
  width: 28em;
  height: 25em;
  z-index: 0;
  position: relative;
}

.carousel {
  width: 25em;
  height: 25em;
  object-fit: cover;
  border-radius: 5px;
}

.customPrevButton {
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: none;
  padding: 30px;
  transform: scale(0.7);
}

.customNextButton {
  margin-right: 3em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: none;
  padding: 30px;
  transform: scale(0.7);
}

.thumb {
  width: 6em;
  height: 6em;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.thumbsContainer {
  margin-top: 0.5em;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.precarga {
  background: transparent url(images/ajaxload.gif) center no-repeat;
}

@media (max-width: 391px) {
  .customPrevButton {
    transform: scale(0.5);
    margin-left: -2em;
  
  }
  
  .customNextButton {
   margin-right: 10em;
   transform: scale(0.5);
  
  } 
  .father{
    transform: scale(0.7);
    margin-top: -5em;
    margin-right: 5em;
  }

  .fatherContainer{
    align-items: center;
    margin-left: -5em;
  }
  
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */


 .customPrevButton {
  transform: scale(0.5);
  margin-left: -1em;

}

.customNextButton {
 margin-right: 9em;
 transform: scale(0.5);

} 
.father{
  transform: scale(0.7);
  margin-top: -5em;
  margin-right: 5em;
}

.fatherContainer{
  align-items: center;
  margin-left: -4em;
}
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}