.containerFather{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.detailContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 6em;
}

.serviceInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 14px;
  width: 30em;
  margin-left: 30px;
}
.nameServiceContainer{
  border-bottom: 1px solid #b9b8b8;
  padding: 10px;
  width: 30em;
  display: flex;
  flex-direction: row;
}
.nameServiceContainer p{
  margin-left: 12em;
}
.serviceName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.serviceTypeContainer{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #b9b8b8;
  padding: 10px;
  width: 30em;
  height: 7em;
  margin-top: 2em;
}

.serviceType {
  font-size: 18px;
  margin-bottom: 10px;
}

.serviceLocation {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
  margin-left: 3em;
}

.featuredProjectsContainer {
  margin-top: 20px;
  margin-left: 50px;
}


.featuredProjectImage {
  width: 25em;
  height: 25em;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.fatherDescription{
  display: flex;
  flex-direction: row;
}
.serviceDescriptionContainer {
  padding: 10px;
  width: 30em;
  height: 12em;
  margin-top: 2em;
  
}

.serviceProvider{
  margin-left: -11em;
  margin-top: 12em;
}
.myButton{
  color: black;
  background-color: white;
  margin-top: -50px;
}

.myButton:hover{
  background-color: black;
}

.form{
  display: flex;
  flex-direction: column;
  margin-left: 15em;
  border-radius: 20px;
  padding: 40px;
  width: 60em;
  margin-bottom: 3em;
}

.form h3{
  border-bottom: 1px solid #b9b8b8;
  width: 8em;
}

.inputs input{
  width: 12em;
  margin-bottom: 1em;
}

.spanComent{
  border-bottom: 1px solid #b9b8b8;
  width: 50em;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.spanComent button{
  width: 4em;
  border: none;
  margin-top: 1em;
  padding: 10px;
}
.stars{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  
}
.stars p{
  margin-right: 2em;
  margin-top: 1em;
}

.inputs textarea{
  width: 25em;
  margin-bottom: 2.5em;
  height: 5em;
}

.h4{
  margin-top: 5em
}

.ratings{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.otherServices{
  margin-left: 4em;
}

.otherServices h3{
  margin-left: 3em;
}
.serviceDescriptionTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.serviceDescription {
  font-size: 16px;
  margin-bottom: 10px;
}

.serviceReviewsContainer {
  margin-top: 20px;
  padding: 20px;
  margin-left: 14em;
}

.serviceReviewsTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.serviceReviews {
  font-size: 16px;
  margin-bottom: 10px;
}

.reservationContainer {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendarContainer {
  margin-bottom: 10px;
}

.selectDateLabel,
.selectTimeLabel {
  font-size: 16px;
  margin-bottom: 5px;
}

.datePicker {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  outline: none;
}

.reservationButton {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ff8900;
  color: #fff;
  cursor: pointer;
}

.reservationButton.enabled {
  background-color: #ff6e00;
}

.reservationButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .detailContainer {
    flex-direction: column;
  }

  .serviceInfoContainer,
  .reservationContainer {
    width: 100%;
  }

  .serviceInfoContainer {
    margin-bottom: 20px;
  }
}
