.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.smallContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mediumContainer {
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.largeContainer {
  background-color: #f1f1f1;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.abilities {
  margin-right: 40px;
}

.reserv {
  color: black;
  background-color: white;
}

.reserv:hover {
  background-color: black;
}

.img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nameService {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.container p {
  margin: 0;
}
