.container{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding: 40px;
    background-color: rgb(219, 218, 218);

}
.containerform{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.brother{
    width: 20em;
    background-color: rgb(10, 69, 180);
    margin-right: 20px;
    border-radius: 20px;
    padding: 40px;
}
.title{
    color: white;
    display: flex;
    margin-bottom: 100px;
}
.brother h2{
    color: white;
    margin-bottom: 50px;
    
}
.brother p{
    color: white;
}
.imgs{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form{
    padding: 50px;
    width: 35em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form h1{
    padding-bottom: 30px;
    text-align: center;
}

.myButton{
    color: black;
    background-color: white;
}

.myButton:hover{
    background-color: black;
}

.priceInput{
    width: 11em
}
.preview{
    max-width: 135px;
    height: 120px;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 15px;
    object-fit: cover;
}